 .wrap {

 

  overflow: hidden;
  min-width: 150px;
 
  border-radius: 5px;
  border-width: 5;
  align-items: center;
  align-self: center;
  justify-content: center;
  display: flex;
  
 background-color: black;
 
  flex-wrap: wrap;
  flex: 1;
  border-bottom-style: groove;
  
  border-bottom-width: 7px;
  
  
}




.wrap-container{
 
 
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 gap: 1rem;
 
 width: 100%;
 height: 50vh;
 margin-top: 9rem;
 overflow: hidden;

  

}
.menu{

  display: flex;
  flex-direction: column;
  align-items: center;

}
 

/* .subcontainer{
 display: flex;
  
 justify-content: center;
 align-items: center;
  
  flex-direction: column;
 
width: 100%;
  
  
} */
/* .divs{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: brown;
  width: 100%;
}

.mainContainer{

  margin-top: 8rem;
  display: flex;
 
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.lsName{
  display: flex;
  justify-content: space-between;
  gap:0.5rem;
  
  align-items: center;
 width: 100%;
  font-family: sans-serif;
} */

.mainContainers {
  display: flex;
 flex-direction: column;
  min-height: max-content;
align-items: center;
justify-content: center;
background-color: #EBECF0;
  width: 100%;
  
 
}
.vegonly{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.mains{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
background-color: #EBECF0;
 width: 100%;

  
}
ul{
  list-style-type:none;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 700;
  color: orange;
  margin: 0;
  padding: 5px;
}

.allfoods {
  

  display: flex;
 
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
 

}


.subcontainer {
  display: flex;
 
  flex-direction: column;
  align-items: center;
 justify-content: center;

}

.lsName {
  display: flex;
  justify-content: space-between;
 
  
}

.lsName span:first-child {
  margin-right: 10px;
}

.lsName span:last-child {
  color: gray;
}

p {
  margin-top: 20px;

  
}

img {
  width: 360px;
  height: 180px;
  object-fit: cover;
 
}


hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.filter{
  display: flex;
 
  width: max-content;
  align-items: center;
  justify-content: center;
  padding: 20px;
}